footer {
  background: #000;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-menu {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 15px;
        color: #fff;
        font-size: em(18);
        letter-spacing: 0.02em;

        a {
          color: #fff;

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }
      }
    }
  }

  .social-links {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 15px;
        font-size: 24px;

        a {
          color: #fff;

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }
      }
    }
  }

  .footer-logo {
    margin-bottom: -71px;
  }

  .copyright {
    border-top: solid 1px #303030;
    padding: 25px 0;
    text-align: center;

    p {
      color: #767474;
      font-size: 13px;
      margin: 0;

      a {
        color: #29d0f4;

        &:focus,
        &:hover {
          color: $blueColor;
        }
      }
    }
  }
}
