%ML35 {
  margin-left: 35px;
}

header {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .top-header-bar {
    background: $darkBlueColor;
    padding: em(8) em(0) em(9);

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .search {
      @extend %ML35;

      form {
        position: relative;

        .form-control {
          width: 220px;
          height: 30px;
          box-shadow: none;
          border: solid 1px #8f8f8f;
          border-radius: 30px;
          padding: 0 30px 2px 18px;
          background: transparent;
          font-size: 12px;
          color: #fff;
          @include placeholder {
            & {
              color: #9e9d9d;
            }
          };
        }

        .search-btn {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          color: #fff;
          font-size: 12px;
          background: transparent;
          border: none;
          width: 30px;
          text-align: center;
          padding: 0 0 2px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          cursor: pointer;
          @include transition;

          &:focus,
          &:hover {
            background: $blueColor;
            color: #fff;
            outline: none;
            box-shadow: none;
          }
        }
      }
    }

    .top-header-list {
      @extend %ML35;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          position: relative;
          padding-right: 15px;
          margin-right: 10px;
          letter-spacing: 0.02em;

          span {
            position: absolute;
            min-width: 13px;
            min-height: 13px;
            padding: 2px;
            color: #fff;
            background: red;
            border-radius: 100%;
            line-height: 1;
            top: -8px;
            left: 9px;
            font-size: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .fa {
            color: $blueColor;
            margin-right: 2px;
            font-size: 16px;
          }

          &:after {
            content: "";
            position: absolute;
            top: 2px;
            bottom: 3px;
            right: 0;
            width: 1px;
            background: #fff;
          }

          a {
            color: #fff;
            text-transform: capitalize;

            &:focus,
            &:hover {
              color: $blueColor;
            }
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;

            &::after {
              display: none;
            }
          }
        }
      }
    }

    .select-lang {
      @extend %ML35;

      .dropdown-toggle {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        color: #fff;
        vertical-align: middle;
        font-size: 14px;
        letter-spacing: 0.02em;
        cursor: pointer;
        @include transition;

        img {
          margin-left: 5px;
        }

        &:after {
          vertical-align: middle;
          margin-left: 5px;
          color: #fff;
        }

        &:focus,
        &:hover {
          outline: none;
          box-shadow: none;
          color: $blueColor;
        }
      }

      .dropdown-menu {
        left: auto !important;
        right: 0;
        padding: 0;
        border-radius: 0;
        top: 100%;
        min-width: 120px;

        a {
          padding: 8px 15px;
          color: #212529;
          font-size: em(16);
          border-bottom: solid 1px rgba(#000, 0.05);

          &:last-child {
            border-bottom: none;
          }

          img{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            top: -1px;
          }

          &:focus,
          &:hover {
            background:rgba(#000, 0.09);
            color: #000;
          }
        }
      }
    }
  }
  //Navigation
  .navbar {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 51px;
      left: 0;
      right: 0;
      height: 1px;
      background: #777777;
      z-index: 0;
    }

    .container {
      align-items: flex-start;
      z-index: 5;
    }

    .navbar-collapse {
      padding-top: 21px;
    }

    .navbar-brand {
      padding: 0;
      margin: 0;
      height: auto;
      position: relative;
      left: -4px;
      margin-top: -46px;
    }

    .navbar-nav {
      position: relative;

      .nav-item,
      li {
        margin-left: 45px;

        &:first-child {
          margin-left: 0;
        }

        &.dropdown {
          position: static;

          &.show {
            position: relative;
          }
        }

        .nav-link,
        a {
          color: #fff;
          font-size: em(16);
          text-transform: capitalize;
          letter-spacing: 0.02em;
          padding: 0;
          position: relative;

          &.dropdown-toggle {
            &:after {
              vertical-align: middle;
              margin-left: 5px;
              font: normal normal normal 13px/1 FontAwesome;
              content: "\f0d7";
              border: none;
              width: auto;
              height: auto;
            }
          }

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }

        .dropdown-menu {
          left: auto;
          right: 0;
          padding: 0;
          border-radius: 0;
          top: 100%;
          margin-top: 23px;
          min-width: 210px;

          li {
            margin: 0;
            border-bottom: solid 1px rgba(#000, 0.05);

            &:last-child {
              border-bottom: none;
            }

            a {
              padding: 8px 15px;
              color: #212529;
              font-size: em(16);

              &:focus,
              &:hover {
                background: $blueColor;
                color: #fff;
              }
            }
          }
        }

        &.active {
          .nav-link,
          a {
            color: $blueColor;
          }
        }
      }
    }
  }
}

#magic-line {
  position: absolute;
  bottom: -24px;
  left: 0;
  margin: 0;
  @include circle(7px !important);
  background: $blueColor;
  opacity: 1;
  @include media(desktop) {
    & {
      bottom: -27px;
      transform: translate(-2px,0);
    }
  };
}
