@mixin transition($duration:0.4s) {
  transition: all $duration ease-in-out;
}
@mixin background($image:none, $size:cover) {
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}
@mixin circle($size, $radius:100%) {
  height: $size;
  width: $size;
  border-radius: $radius;
}
@mixin fullCover($T:0, $R:0, $B:0, $L:0) {
  position: absolute;
  top: $T;
  bottom: $B;
  left: $L;
  right: $R;
}
@mixin btn($fontS:18px, $fontW:400, $fontF:$font, $TT:capitalize, $LH:2.3) {
  display: inline-block;
  line-height: $LH;
  padding: 1px 18px 2px;
  border-radius: 0;
  box-shadow: none;
  text-transform: $TT;
  font-family: $fontF;
  font-weight: $fontW;
  font-size: $fontS;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  @include transition;
}
@mixin media($point) {
  @if $point == desktop {
    @media only screen and (max-width:1499px) {
      @content;
    }
  } @else
  if $point == iPadLand {
    @media only screen and (max-width:1199px) {
      @content;
    }
  } @else
  if $point == iPad {
    @media only screen and (max-width: 991px) {
      @content;
    }
  } @else
  if $point == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else
  if $point == mobileX {
    @media only screen and (max-width: 479px) {
      @content;
    }
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
    opacity: 1;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
    opacity: 1;
  }
}
