$bodyFont: 'Poppins', sans-serif;
$bodyBgColor: #fff;
$bodyFontSize: 16px;
$value: 16;
$bodyWeight: 400; /** Paragraph Font Style **/
$font: 'Poppins', sans-serif;
$fontColor: #000;
$lightFontColor: #252525;
$fontLightColor: #3a3a3a;
$lightFont: 300;
$normalFont: 400;
$mediunFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
$blueColor: #139cd1;
$darkBlueColor: #04263a;
$purpalColor: #3e3b70;
$white: #fff;
$black: #000;
$red: #e24848;
/** Paragraph Font Style End **/
