@import 'plugins';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'functions';

body,
html {
  height: 100%;
}

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: em($value);
  font-weight: $bodyWeight;
  @include media(desktop) {
    & {
      font-size: em(14);
    }
  };
}

%h {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

h1 {
  @extend %h;
  font-size: em(52);
  @include media(desktop) {
    & {
      font-size: em(42);
    }
  };
}

h2 {
  @extend %h;
  font-size: em(36);
}

h3 {
  @extend %h;
  font-size: em(28);
}

h4 {
  @extend %h;
  font-size: em(22);
}

h5 {
  @extend %h;
  font-size: em(20);
}

h6 {
  @extend %h;
  font-size: em(18);
}

p {
  font-family: $bodyFont;
  line-height: 1.6;
  margin-bottom: 15px;
  color: $lightFontColor;
}

ul {
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;
    font-family: $font;
  }
}

.btn {
  @include btn(22px, $mediunFont, $font, uppercase, 3);
  @include media(desktop) {
    & {
      font-size: 18px;
    }
  };
}

.gradient-btn {
  background: linear-gradient(to bottom, #1877b4, #07324c);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-transform: capitalize;
  font-size: em(16);
  font-weight: 400;
  padding: 0 35px;
  letter-spacing: 0.06em;
  box-shadow: 2px 3px 10px rgba(#000, 0);

  &:focus,
  &:hover {
    box-shadow: 2px 3px 10px rgba(#000, 0.2);
    outline: none;
    color: #fff;
    background-size: 100% 200%;
  }

  &:focus {
    background: #1877b4;
    background-size: 100% 100%;
  }
}

.black-btn,
.gray-btn {
  font-size: em(16);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background: #000;
  min-width: 120px;
  text-transform: capitalize;

  &:focus,
  &:hover {
    background: $blueColor;
    color: #fff;
  }
}

.gray-btn {
  background: #e5e5e5;
  color: #000;
}
@media screen and (min-width:1500px) {
  .container {
    max-width: 1470px;
  }
}
@import 'header';

.banner {
  height: 100%;
  max-height: 1024px;
  @include background;
  padding-top: 110px;
  @include media(desktop) {
    & {
      max-height: 620px;
    }
  };

  &.inner-banner {
    height: 600px;
    position: relative;
    @include media(desktop) {
      & {
        max-height: 480px;
      }
    };

    &:before {
      content: "";
      @include fullCover;
      background: rgba(#000, 0.72);
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 5;
    }

    &.checkout-banner {
      height: 350px;

      .banner-text {
        h1 {
          font-size: em(50);
        }
      }
    }
  }

  .container {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .banner-text {
      padding: 0 10%;
      color: #fff;
      white-space: normal;
      word-wrap: break-word;
      display: block;
      width:100%;

      .play-btn {
        opacity: 0.7;
        display: inline-block;
        margin: 0 auto 25px;

        &:hover {
          opacity: 1;
        }
      }

      h1 {
        font-size: em(72);
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        font-weight: 700;
        color: #fff;
        @include media(desktop) {
          & {
            font-size: em(55);
          }
        };

        strong {
          color: $blueColor;
        }
      }

      p {
        font-size: em(18);
        letter-spacing: 0.03em;
        line-height: 1.7;
        color: #fff;
        @include media(desktop) {
          & {
            font-size: em(16);
          }
        };

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.section,
section {
  padding: 70px 0;

  h2 {
    font-weight: $mediunFont;
    font-size: em(32);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0;

    &:after {
      content: "";
      display: block;
      width: 88px;
      height: 3px;
      background: $blueColor;
      margin: 10px 0 40px;
    }
  }

  p {
    font-size: em(16);
    letter-spacing: 0.02em;
    line-height: 1.7;
    margin-bottom: em(25);
  }
}

.latest-project-section {
  background: #fff url("../images/pattren-img.jpg") repeat;
  padding-bottom: 30px;

  h2 {
    text-align: center;

    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .latest-project-post {
    padding-right: 30px;
    display: block;
    position: relative;
    margin-bottom: 30px; //@include transition;
    transition: all 0.6s cubic-bezier(.34,.6,.62,.38);

    &:before {
      content: "";
      @include fullCover;
      background: #000;
      z-index: 1;
      right: 30px;
      opacity: 0;
      transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
    }

    & > * {
      position: relative;
      z-index: 5;
    }

    figure {
      display: block;
      height: 29.5vw;
      @include background;
      position: relative;
      @include transition;
      top: 0;

      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
      }

      &:hover {
        top: -10px;
      }
    }

    .latest-project-post-text {
      padding: em(24) 0;
      @include transition;

      h5 {
        font-size: em(20);
        font-weight: $mediunFont;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
        color: #000;

        a {
          color: #000;
        }
      }

      p {
        margin-bottom: em(5);
        color: #000;
      }
    }

    &:hover {
      &:before {
        right: 0;
        left: 30px;
        top: 30px;
        opacity: 1;
      }

      .latest-project-post-text {
        padding-left: 100px;
        @include media(desktop) {
          & {
            padding-left: 60px;
          }
        };

        h5,
        h5 a,
        p {
          color: #fff;
        }

        h5 a:hover {
          color: $blueColor;
        }
      }
    }
  }
}

.category-section {
  @include background;
  background-color: #e8f8ff;

  h2 {
    text-align: center;

    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .category-cover {
    display: flex;
    justify-content: space-between;

    figure {
      @include background;
      position: relative;
      width: 100%;
      height: 100%;

      a {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:before {
        content: "";
        @include fullCover;
        background: rgba(#04263a, 0.68);
        @include transition;
      }

      figcaption, a>span {
        font-size: em(28);
        font-weight: $mediunFont;
        color: #fff;
        letter-spacing: 0.02em;
        position: relative;
        z-index: 5;
        opacity: 1;
        @include transition;
        @include media(desktop) {
          & {
            font-size: em(24);
          }
        };

        &:after {
          content: "";
          display: block;
          width: 88px;
          height: 3px;
          background: $blueColor;
          margin: 10px auto 0;
        }
      }

      &:hover {
        &:before {
          background: rgba(#04263a, 0.1);
        }

        figcaption, a>span {
          opacity: 0;
        }
      }
    }

    .category-left {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: calc(100% - 411px);
      position: relative;
      flex-wrap: wrap;

      figure {
        height: 49.3%;
        margin-bottom: 1%;

        &:first-child,
        &:nth-child(4) {
          width: 39.5%;
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: 59.5%;
        }

        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }

    .category-right {
      display: inline-block;
      width: 400px;
      height: 730px;
      position: relative;
      @include media(desktop) {
        & {
          height: 610px;
        }
      };
    }
  }

  figure[pk] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    position: relative;

    .lines {
      box-sizing: content-box;
      position: absolute;
      transition: all ease 800ms;

      &.top {
        top: 10px;
        left: 100%;
        height: 2px;
        right: 10px;
        transition: all ease 800ms;
      }

      &.right {
        top: 100%;
        right: 10px;
        width: 2px;
        bottom: 10px;
        transition: all ease 800ms;
      }

      &.bottom {
        bottom: 10px;
        right: 100%;
        height: 2px;
        left: 10px;
        transition: all ease 800ms;
      }

      &.left {
        bottom: 100%;
        left: 10px;
        width: 2px;
        top: 10px;
        transition: all ease 800ms;
      }
    }

    &:hover .lines {
      background: $blueColor;

      &.bottom {
        right: 10px;
        padding-bottom: 0;
      }

      &.top {
        left: 10px;
        padding-right: 2px;
      }

      &.left {
        bottom: 10px;
        padding-bottom: 2px;
      }

      &.right {
        top: 10px;
        padding-bottom: 2px;
      }
    }
  }
}

.un-project {
  border-top: solid 1px $purpalColor;

  p {
    font-weight: $mediunFont;
    font-size: em(28);
    color: #fff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    a {
      color: #fff;
      background: $purpalColor;
      padding: 15px;
      display: block;
      text-shadow: 2px 3px 5px rgba(0, 0, 0, 0);

      &:hover {
        color: $purpalColor;
        background: #fff;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
      }
    }
  }
}
/** Inner Pages **/
/** About Page **/

.about-page {
  .pull-right {
    margin-left: 50px;
    margin-bottom: 40px;
  }

  .pull-left {
    margin-right: 50px;
    margin-bottom: 40px;
  }

  article {
    margin-bottom: 60px;
    clear: both;

    p {
      line-height: 1.9;
      margin-bottom: 25px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .img-width-shadow {
    display: inline-block;
    position: relative;
    margin-top: 6px;

    &:before {
      content: "";
      position: absolute;
      top: calc(100% - 320px);
      width: calc(100% + 5%);
      height: 355px;
      background: url("../images/box-shadow.png") no-repeat;
      background-size: 100% 100%;
    }

    img {
      position: relative;
      z-index: 5;
    }
  }
}
/** About Page End **/
/** Project Page **/
.project-page {
  .sort-form {
    margin-bottom: 30px;

    select {
      border-radius: 0;
      border: solid 1px #bbbbbb;
      box-shadow: none;
      padding: 2px 30px 2px 10px;
      font-size: em(15);
      font-weight: 400;
      color: $fontLightColor;
      background: url("../images/down-arrow.png") no-repeat;
      background-position: 90% 50%;
      width: 115px;
      height: 38px;
      @include placeholder {
        & {
          color: #565656;
        }
      };
    }
  }

  .project-sidebar {
    display: block;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        width: 100%;
        border-bottom: solid 1px #d6d6d6;

        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          padding: 20px 24px;
          text-transform: capitalize;
          background: #f7f7f7;
          color: #000;
          font-size: em(18);
          letter-spacing: 0.02em;
          font-weight: 500;
          box-shadow: 0 0 10px rgba(#000, 0);

          &:hover {
            color: $blueColor;
          }
        }

        &.active {
          a {
            background: $blueColor;
            color: #fff;
            box-shadow: 0 0 10px rgba(#000, 0.25);
          }
        }
      }
    }
  }

  .project-post {
    display: block;
    position: relative;
    margin-bottom: 40px;

    h5 {
      font-size: em(20);
      font-weight: 500;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #000;
      position: relative;
      padding-right: 40px;
      @include transition;

      a {
        color: #000;

        &:focus,
        &:hover {
          color: $darkBlueColor;
        }
      }

      &:after {
        content: "\f07a";
        font: normal normal normal 16px/1 FontAwesome;
        position: absolute;
        right: 0;
        top: 0;
        color: #1a6da1;
      }
    }

    figure {
      display: block;
      height: 440px;
      @include background;
      position: relative;
      margin-bottom: 15px;
      overflow: hidden;

      .project-post-text {
        display: flex;
        flex-direction: column;
        padding: 15px 70px 15px 15px;
        word-wrap: break-word;
        justify-content: flex-end;
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 12px;
        right: 12px;
        background: linear-gradient(to bottom, rgba(#07324c, 0), rgba(#07324c, 1));
        overflow: hidden;
        opacity: 0;
        transform: scale(1.5);
        transform-origin: center;
        @include transition;

        * {
          color: #fff;
        }

        h5 {
          margin-bottom: 5px;

          &:after {
            right: -55px;
            color: #fff;
          }
        }

        p {
          margin-bottom: 2px;
        }

        .book {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 42px;
          height: 42px;

          a {
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 40px;
            padding-right: 5px;
            background: #15699f;

            &:before {
              content: "";
              top: 2px;
              bottom: -11px;
              left: -7px;
              width: 22px;
              background: #15699f;
              position: absolute;
              z-index: 1;
              transform: rotate(14deg);
              @include transition;
            }

            img {
              position: relative;
              z-index: 5;
            }

            &:focus,
            &:hover {
              background: $blueColor;
              color: #fff;

              &:before {
                background: $blueColor;
              }
            }
          }
        }
      }
    }

    &:hover {
      h5 {
        opacity: 0;
      }

      .project-post-text {
        opacity: 1;
        transform: scale(1);

        h5 {
          opacity: 1;
        }
      }
    }
  }

  &.projet-detail-page {
    .slick-track {
      margin-left: 0;
    }

    .slider-for-projet {
      margin: 0 0 18px;

      figure {
        @include background;
        padding-bottom: 65%;
        width: 100%;
        margin: 0;
      }
    }

    .slider-nav-projet {
      border-top: solid 1px #e4e4e4;
      padding-top: 20px;

      .slick-slide {
        div > div {
          width: auto !important;
          border: solid 1px transparent;
          padding: 3px;
        }

        &.slick-current div > div {
          border-color: $blueColor;
        }
      }

      figure {
        width: 95px;
        height: 85px;
        cursor: pointer;
        @include background;
      }
    }

    h3 {
      font-size: em(26);
      font-weight: 500;
      color: #000;
      letter-spacing: 0.02em;
      margin-bottom: 10px;

      &+p {
        margin-bottom: 5px;
      }
    }

    cite {
      display: block;
      font-style: normal;
      font-size: em(18);
      font-weight: 400;
      color: $blueColor;
      margin-bottom: 20px;
    }

    article {
      border-top: solid 1px #e4e4e4;
      border-bottom: solid 1px #e4e4e4;
      padding: 15px 0;
      margin-bottom: 30px;

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    .project-description-tab {
      margin-top: 60px;

      .nav.nav-tabs {
        border-bottom: solid 2px #888888;

        .nav-item,
        li {
          margin-right: 4px;
          margin-bottom: 0;

          .nav-link,
          a {
            border-radius: 0;
            border: solid 1px #d1d1d1;
            background: #f0f0f0;
            font-weight: 500;
            font-size: em(18);
            padding: 10px 30px;
            color: #6e6e6e;

            &.active {
              background: $blueColor;
              color: #fff;
              border-color: $blueColor;
            }
          }
        }
      }

      .tab-content {
        .tab-pane {
          padding-top: 40px;

          p {
            font-size: em(15);
            line-height: 1.8;
            letter-spacing: 0.02em;
          }

          figure {
            margin-bottom: 40px;
          }

          h6 {
            font-size: em(18);
            font-weight: 400;
            letter-spacing: 0.04em;
            margin-bottom: 20px;
            text-transform: uppercase;
          }

          h4 {
            font-size: em(27);
            text-transform: uppercase;
            letter-spacing: 0.04em;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
/** Project Page End **/
/** Contact Us **/

.contact-map {
  position: relative;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .contact-info {
    background: rgba(#fff, 0.85);
    padding: 70px 50px 70px 35px;
    position: relative;
    max-width: 335px;
    z-index: 5;

    &:after {
      content: "";
      background: url("../images/contact-info-shadow.png") no-repeat;
      width: 100%;
      height: 17px;
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      z-index: 1;
    }

    ul {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 5;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 35px;
        width: 1px;
        background: rgba(#464646, 0.5);
        z-index: 1;
      }

      li {
        display: inline-block;
        position: relative;
        font-size: em(15);
        color: #202020;
        padding-left: 60px;
        margin-bottom: 15px;
        letter-spacing: 0.03em;
        z-index: 10;

        &:last-child {
          margin-bottom: 0;
        }

        i.fa {
          position: absolute;
          top: 0;
          left: 0;
          color: #166fa8;

          &.fa-map-marker {
            font-size: 22px;
            top: 2px;
          }

          &.fa-phone {
            top: 4px;
            font-size: 17px;
          }

          &.fa-envelope {
            top: 3px;
          }
        }

        a {
          color: #202020;

          &:hover {
            color: $blueColor;
          }
        }
      }
    }
  }
}

.contact-form {
  padding: 70px 40px;
  border: solid 1px #dbdbdb;
  background: #fff;

  &:after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -15px;
    top: 0;
    background: url("../images/contact-form-shadow.png") no-repeat;
    background-size: 100% 100%;
    width: 309px;
  }

  .form-group {
    position: relative;

    label {
      font-size: 13px;
      color: #a6a6a6;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0;
      position: relative;
      top: 35px;
      left: 25px;
      @include transition;
    }

    .form-control {
      box-shadow: none;
      border: none;
      border-bottom: solid 1px #dbdbdb;
      padding: 2px 25px;
      font-size: em(16);
      color: #000;
      font-weight: 400;
      border-radius: 0;
      height: 52px;

      &.filled,
      &:focus {
        border-color: $blueColor;
      }
    }

    textarea.form-control {
      padding-top: 8px;
      resize: none;
    }

    &.focused {
      label {
        top: 0;
      }
    }
  }
}
/** Contact Us End **/
/** Checkout **/

.checkout {
  #magic-line {
    display: none;
  }
}

.checkout-steps-slider {
  .nav.nav-tabs {
    border: none;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;

    &:before {
      content: "";
      height: 1px;
      width: 412px;
      background: #b9b9b9;
      position: absolute;
      top: 100%;
      margin: 15px 0 0 10px;
      z-index: 1;
      @include media(desktop) {
        & {
          width: 380px;
        }
      };
    }

    li.nav-item {
      display: inline-block;
      margin: 0 45px;
      position: relative;
      z-index: 5;

      a.nav-link {
        padding: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: #000;
        letter-spacing: 0.03em;
        font-size: em(16);
        border: none;
        border-radius: 0;
        position: relative;

        &:after {
          content: "";
          @include circle(11px);
          border: solid 1px #b9b9b9;
          background: #fff;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin: 10px auto 0;
        }

        &:focus,
        &:hover {
          color: #000;
        }
      }

      &.active {
        a.nav-link {
          color: #000;

          &:after {
            background: $blueColor;
            border-color: $blueColor;
          }
        }
      }

      a.nav-link.active {
        color: #000;

        &:after {
          background: $blueColor;
          border-color: $blueColor;
        }
      }

      a.nav-link.passed {
        color: #000;

        &:after {
          background: #000;
          border-color: #000;
        }
      }
    }
  }

  .tab-content {
    .checkout-cover {
      border: solid 1px #c7c7c7;
      padding: 25px;
      display: flex;
      justify-content: space-between;
      position: relative;

      .checkout-left,
      .checkout-right {
        display: inline-block;
        width: 50%;
        padding: 20px 50px;

        h5 {
          font-weight: 500;
          font-size: 16px;
          color: #000;
          text-transform: uppercase;
          letter-spacing: 0.02em;
          margin-bottom: 15px;
        }

        h6 {
          font-size: 15px;
          color: #595959;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        p {
          color: #595959;
          font-size: 15px;
          letter-spacing: 0.02em;

          cite {
            font-size: 13px;
            color: #595959;
            font-style: normal;
          }
        }

        .form-group {
          margin-bottom: 15px;

          label {
            color: #2a2a2a;
            font-size: 15px;
            letter-spacing: 0.01em;
            display: block;
            margin-bottom: 5px;

            sup {
              color: #f00;
            }
          }

          .form-control {
            border: solid 1px #dcdcdc;
            border-radius: 0;
            box-shadow: none;
            height: 38px;
            padding: 2px 15px;
            font-size: 14px;
            color: #000;
            font-weight: 400;
          }

          &.my-custom-radio-group {
            label {
              padding-left: 20px;
              position: relative;

              input[type="radio"] {
                display: none;
              }

              .my-custom-radio {
                @include circle(12px);
                background: #bebebe;
                display: inline-block;
                position: absolute;
                top: 4px;
                left: 0;
              }

              input[type="radio"]:checked + .my-custom-radio {
                background: $blueColor;
              }
            }
          }
        }

        .mandatory {
          padding-top: 15px;
          margin-bottom: 30px;

          p {
            margin-bottom: 8px;
            font-size: 13px;
            line-height: 1;
          }
        }
      }

      .checkout-left {
        padding-right: 75px;
      }

      .checkout-right {
        padding-left: 75px;
      }
    }

    #CheckoutMethodTab {
      .checkout-cover {
        &:before {
          content: "";
          width: 1px;
          background: #b9b9b9;
          position: absolute;
          top: 25px;
          bottom: 25px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 1;
        }
      }
    }

    #OrderInfoTab {
      .checkout-cover {
        flex-direction: column;
      }
    }

    .order-table {
      display: block;
      width: 100%;
      padding: 0 em(80);

      table {
        width: 100%;
        border: none;
        margin: 0 auto;

        tr {
          th {
            text-transform: uppercase;
            font-size: 14px;
            color: #000;
            text-align: center;
            padding: 0 0 12px;
            border-bottom: solid 2px $blueColor;

            &:first-child {
              text-align: left;
              width: 60%;
            }

            &:last-child {
              width: 15px;
            }
          }

          td {
            font-size: 14px;
            color: #9f9f9f;
            text-align: center;
            padding: 23px 15px 35px;
            border-bottom: solid 1px #e4e4e4;
            vertical-align: top;

            &:first-child {
              text-align: left;
              padding-left: 0;
            }

            &:last-child {
              padding-left: 0;
              padding-right: 0;
            }

            p {
              font-size: 14px;
              color: #000;
              margin-bottom: 15px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            a {
              font-size: 15px;
              color: #9f9f9f;

              &:focus,
              &:hover {
                color: $blueColor;
              }
            }
          }

          &:nth-last-of-type(1) {
            td {
              border-top: solid 2px $blueColor;
              text-transform: uppercase;
              color: #000;
              font-weight: 500;
              font-size: em(16);
              padding-bottom: 25px;

              p {
                font-weight: 500;
                font-size: em(16);
              }

              &:first-child {
                text-align: right;
                padding-right: 0;
              }

              &:last-child {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }

    .payment-form {
      margin: 0 auto;
      padding: em(80) 0;

      form {
        display: flex;
        align-items: center;
      }

      .payment-picker {
        display: none;
      }

      .form-group {
        margin: 0 25px 0 0;
        width: 460px;
      }

      #paymentListItem {
        padding-left: 0;

        & img,
        .btn-payment-select img {
          max-width: 200px;
          max-height: 100%;
        }

        li {
          list-style: none;
          cursor: pointer;
          @include transition;
          height: 43px;

          &:hover {
            box-shadow: 0 0 5px rgba(0,0,0,.175);
            padding-left: 25px;
          }
        }
      }

      .payment-list {
        display: none;
        width: 100%;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border: 1px solid rgba(0,0,0,.15);
        background: #fff;
        border-radius: 0;
        margin-top: 5px;
        position: absolute;
        top: 100%;
        z-index: 999;
        left: 0;
        right: 0;

        &.open {
          display: show;
        }

        li {
          border-bottom: solid 1px rgba(#000,0.03);
          padding: 10px;
        }
      }

      .btn-payment-select {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        border-radius: 0;
        background: #fff url("../images/down-arrow.png") no-repeat;
        background-position: 97% 50%;
        padding-right: 45px;
        @include transition;

        li {
          list-style: none;
          display: block;
          padding: 7px 10px;
          height: 43px;

          img {
            max-height: 100%;
          }
        }

        &:hover {
          box-shadow: 0 0 10px rgba(0,0,0,0.02);
        }

        &:focus {
          outline: none;
        }

        &:hover li {
          margin-left: 0;
        }
      }

      .payment-select {
        width: 100%;
        position: relative;
      }
    }
  }
}

.cart-table {
  display: block;
  width: 100%;
  padding: 0 em(80);

  table {
    width: 100%;
    border: none;
    margin: 0 auto;

    tr {
      th {
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        text-align: center;
        padding: 0 0 12px;
        border-bottom: solid 2px $blueColor;

        &:first-child {
          text-align: left;
          width: 60%;
          padding-left: 110px;
        }

        &:last-child {
          width: 15px;
        }
      }

      td {
        font-size: 14px;
        color: #9f9f9f;
        text-align: center;
        padding: 23px 15px 35px;
        border-bottom: solid 1px #e4e4e4;
        vertical-align: top;
            height: 140px;
        &:first-child {
          text-align: left;
          padding-left: 110px;
          position: relative;

          figure{
            width: 93px;
            height: 84px;
            display: inline-block;
            @include background;
            position: absolute;
            top: 25px;
            left: 0;
          }
        }

        &:last-child {
          padding-left: 0;
          padding-right: 0;
        }

        p {
          font-size: 14px;
          color: #000;
          margin-bottom: 15px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        a {
          font-size: 15px;
          color: #9f9f9f;

          &:focus,
          &:hover {
            color: $blueColor;
          }

          &.black-btn {
            color: #fff;

            &:focus,
            &:hover {
              color: #fff;
            }
          }

          &.gray-btn {
            color: #000;

            &:focus,
            &:hover {
              color: #fff;
            }
          }
        }
      }

      &:nth-last-of-type(2) {

        td{
          padding-left: 0;
          height: auto;
          padding-bottom: 25px;
          &:last-child{
            text-align: right;
          }
        }
      }

      &:nth-last-of-type(1) {
        td {
          border-top: solid 2px $blueColor;
          text-transform: uppercase;
          color: #000;
          font-weight: 500;
          font-size: em(16);
          padding-bottom: 25px;
          height: auto;

          p {
            font-weight: 500;
            font-size: em(16);
          }

          &:first-child {
            text-align: right;
            padding-right: 0;
          }

          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }
}
/** Checkout End **/
/** Inner Pages End **/
@import 'footer';

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.27);
  text-align: center;
  z-index: 999;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
  }

  .popup-inner {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    max-width: 580px;
    width: 90%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
    border-radius: 0;
    background: #fff;
    text-align: center;

    .popup-inner-elem {
      padding: 55px 40px;
    }

    p {
      font-size: em(18);
      letter-spacing: 0.02em;
      line-height: 1.7;
      margin-bottom: em(25);
    }

    h2 {
      font-weight: $mediunFont;
      font-size: em(32);
      text-transform: uppercase;
      letter-spacing: 0.03em;
      margin-bottom: 0;

      &:after {
        content: "";
        display: block;
        width: 88px;
        height: 3px;
        background: $blueColor;
        margin: 10px auto 30px;
      }
    }

    .popup-form {
      .form-group {
        position: relative;

        label {
          font-size: 13px;
          color: #a6a6a6;
          text-transform: uppercase;
          font-weight: 400;
          margin: 0;
          position: relative;
          top: 35px;
          left: 25px;
          @include transition;
          display: block;
          text-align: left;
        }

        .form-control {
          box-shadow: none;
          border: none;
          border-bottom: solid 1px #dbdbdb;
          padding: 2px 25px;
          font-size: em(16);
          color: #000;
          font-weight: 400;
          border-radius: 0;
          height: 52px;

          &.filled,
          &:focus {
            border-color: $blueColor;
          }
        }

        textarea.form-control {
          padding-top: 8px;
          resize: none;
        }

        &.focused {
          label {
            top: 0;
          }
        }
      }

      .submit-btn {
        width: 100%;
        border-radius: 40px;
        line-height: 3.6;
        box-shadow: 0 0 10px rgba(#000, 0.5);
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          width: 15px;
          height: 10px;
          background: url("../images/right-arrow-2.png") no-repeat;
          opacity: 0;
          @include transition;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          width: 15px;
          height: 10px;
          @include transition;
          background: url("../images/right-arrow-2.png") no-repeat;
        }

        &:hover {
          &:after {
            right: -100px;
          }

          &:before {
            left: 30%;
            opacity: 1;
          }
        }
      }

      .forgot-text {
        font-size: em(18);
        letter-spacing: 0.02em;
        line-height: 1.7;
        margin-bottom: em(25);

        a {
          color: $fontColor;

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }
      }

      .signin-btn-group {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .btn {
          font-size: em(18);
          padding: 0 40px;
          text-transform: capitalize;
        }

        .google-btn {
          border: solid 1px #dc4e41;
          color: #dc4e41;
          border-radius: 40px;
          line-height: 2.8;

          &:focus,
          &:hover {
            background: #dc4e41;
            color: #fff;
          }
        }

        .fb-btn {
          border: solid 1px #3b5999;
          color: #3b5999;
          border-radius: 40px;
          line-height: 2.8;

          &:focus,
          &:hover {
            background: #3b5999;
            color: #fff;
          }
        }
      }
    }
  }

  &[data-popup="signInPopup"],
  &[data-popup="signUpPopup"] {
    .popup-inner-elem {
      padding: 55px 70px;
    }
  }

  &[data-popup="forgotPopup"] {
    .popup-inner {
      max-width: 420px;

      .popup-inner-elem {
        padding: 35px 45px;
      }
    }
  }

  .popup-footer {
    background: #464553;
    padding: 35px 30px;

    p {
      color: #cbcbcb;
      font-size: 14px;
      letter-spacing: 0.02em;
      line-height: 1.7;
      margin-bottom: 0;
      font-weight: 300;

      a {
        color: #cbcbcb;
        text-decoration: underline;
        text-decoration-color: #cbcbcb;

        &:focus,
        &:hover {
          color: #fff;
          text-decoration-color: transparent;
        }
      }
    }
  }

  .popup-close {
    width: 40px;
    height: 40px;
    padding-top: 0;
    position: absolute;
    top: 1px;
    right: 2px;
    transform: translate(50%, -50%);
    border-radius: 100%;
    background: #f3f3f3;
    box-shadow: 0 4px 10px rgba(0,0,0,0.40);

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 18px;
      left: 9px;
      height: 2px;
      width: 22px;
      border-radius: 80px;
      background: #139cd1;
      transform: rotate(45deg);
      @include transition;
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      background: #139cd1;
      text-decoration: none;
      border-color: #f3f3f3;

      &:after,
      &:before {
        background: #fff;
      }

      &:after {
        transform: rotate(0deg);
      }

      &:before {
        transform: rotate(0deg);
      }
    }
  }
}

.thankyou-cover {
    position: relative;
    .tick {
        display: block;
        margin: 0 auto 70px;
        width: 160px;
        height: 160px;
        color: #16bb16;
        text-align: center;
        font-size: 65px;
        line-height: 160px;
        border: solid 2px #16bb16;
        border-radius: 100%;
    }

    .thnkyou-message{
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #d6e9c6;
        border-radius: 4px;
        color: #3c763d;
        background-color: #dff0d8;
        p {
            margin: 0;
            font-size: em(18);
        }
    }


}
